.bg-img {
    min-height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container {
    position: absolute;
    top: 30px; 
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    display: flex;
    justify-content: center;
}

.topnav {
    overflow: visible;
    background-color: #f3ecec85;
    border-radius: 20px;
    display: flex;
    padding: 0 20px;
}

.topnav a {
    color: #000000;
    font-weight: 700;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    font-weight: bolder;
    color: rgb(255, 255, 255);
}

.dropdown {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.domain {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f959;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f152;
}

.dropdown:hover .dropdown-content {
    display: block;
}
